.chat-input-form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;

  gap: 25px;

  display: flex;

  width: 100%;

  place-items: center;
}

.chat-input-char-limit {
  color: gray;
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
  justify-self: end;

  padding-left: 15px;
  padding-right: 15px;
}

.chat-input-div {
  flex: 1;
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.chat-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-basis: 100%;
  font-size: 1rem;
  outline-style: none;
  border-radius: 100px;
  background-color: var(--primary-color);

  padding-left: 25px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;

  align-content: center;
  font-size: 15px;

  scrollbar-width: none;
  resize: none;

  box-shadow: 0px 0px 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;
  height: 100%;
  box-sizing: border-box;
}

.chat-send-button,
.chat-extras-button {
  font-size: 1rem;

  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border-radius: 100%;

  background-color: var(--primary-color);
}
