.wrapper {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 1fr 15fr 1fr;
  height: 95vh;
  width: 97vw;
  gap: 25px;
}

.chat-users-panel-container,
.switcher-panel-container {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  grid-row: 2;

  width: 100%;

  justify-self: center;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.panel-button {
  width: 100%;
  min-height: 75px;
}

.chat-users-panel-container {
  transform-origin: left;
  grid-column: 1;
  gap: 25px;
}

.switcher-panel-container {
  transform-origin: right;
  grid-column: 3;
  gap: 5px;
}

.chat-window {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: auto;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}
