:root {
  --primary-color: rgb(81, 104, 54);
  --secondary-color: rgb(144, 151, 84);
  --bg-color: rgb(48, 52, 47);
  background-color: var(--bg-color);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: 10fr 1fr;
  height: 95vh;
  width: 95vw;
  gap: 10px;
  margin-top:2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;

  justify-items: center;
}

.switcher-panel-container {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;

  grid-column: 1;
  grid-row: 1;

  width: 95%;
  
  word-break: break-word;
  overflow:hidden;
  border-radius: 10px;
}

.chat-window {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 4;

  width: 95%;

  border-radius: 10px;
}

.chat-input {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 1rem;
  padding: 1em;
  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;

  outline-style: none;
  border-radius: 100px;

  background-color: var(--primary-color);

  width: 95%;
  box-shadow: 0px 0px 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;
}

.chat-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;
}

.chat-extras-button {
  font-size: 1rem;
  padding: 1em;

  grid-column: 1;
  grid-row: 2;

  width: 75px;
  height: 75px;
  border-radius: 100%;

  background-color: var(--primary-color);
}

.chat-button {
  font-size: 1rem;
  padding: 1em;

  grid-column: 4;
  grid-row: 2;

  width: 75px;
  height: 75px;
  border-radius: 100%;
  
  background-color: var(--primary-color);
}