.wrapper {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 1fr 15fr 1fr;
  height: 95vh;
  width: 100vw;
  gap: 25px;
}

.chat-users-panel-container,
.switcher-panel-container {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  grid-row: 2;

  width: 100%;
  
  justify-self: center;
  
  word-break: break-word;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  overflow-y: scroll;
  gap: 25px;
}

.chat-users-panel-container {
  transform-origin: left;
  grid-column: 1;
}

.switcher-panel-container {
  transform-origin: right;
  grid-column: 3;
}

.profile-top-bar {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  grid-row: 2;

  height: 20px;

  word-break: break-word;
  border-radius: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  grid-column: 1 span / 3;
  grid-row: 1;
}

.chat-window {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;
  
  grid-row: 2;

  border-radius: 10px;
}

.chat-input-form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;

  gap: 25px;

  display: flex;
  place-self: center;
  place-items: center;
  place-content: center;

  width: 100%;
}

.chat-input {
  flex: 1;

  font-size: 1rem;
  outline-style: none;
  border-radius: 100px;
  background-color: var(--primary-color);

  padding-left: 15px;
  padding-right: 15px;

  box-shadow: 0px 0px 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;
  min-height: 75px
}

.chat-send-button,
.chat-extras-button {
  font-size: 1rem;

  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border-radius: 100%;

  background-color: var(--primary-color);
}

.profile-picture {
  grid-column: 2;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
  justify-self: flex-end;
  margin-left: auto;
}