.wrapper {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 1fr 15fr 1fr;
  height: 95vh;
  width: 100vw;
  gap: 25px;
}

.chat-users-panel-container,
.switcher-panel-container {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  grid-row: 2;

  width: 100%;

  justify-self: center;

  word-break: break-word;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  overflow-y: scroll;
  gap: 25px;
}

.chat-users-panel-container {
  transform-origin: left;
  grid-column: 1;
}

.switcher-panel-container {
  transform-origin: right;
  grid-column: 3;
}

.profile-top-bar {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  grid-row: 2;

  height: 20px;

  word-break: break-word;
  border-radius: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  grid-column: 1 / span 3;
  justify-self: center;
  width: 95%;

  grid-row: 1;
}

.chat-window {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  border-radius: 10px;
}

.profile-picture {
  grid-column: 2;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
  justify-self: end;
  margin-left: auto;
}
